<%= bootstrap_form_for(@student, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>
  <% if @student.errors.any? %>
    <div class="alert alert-danger">
      <strong><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</strong>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name %>
    <%= f.text_field :infix %>
    <%= f.text_field :surname %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
