<h1><%= @student.full_name %></h1>

<ul>
  <% @student.groups.each do |group| %>
    <li><%= group.code %></li>
  <% end %>
</ul>

<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
