<div class="row">
  <div class="col-xs-6">
    <h1><%= @group.code %></h1>
  </div>
  <div class="col-xs-6 text-right">
    <%= link_to 'Back', groups_path, class: 'btn btn-default' %>
    <%= link_to 'Edit', edit_group_path(@group), class: 'btn btn-primary' %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-6 col-sm-12">
      <%= render 'students' %>
  </div>
  <div class="col-md-6">
    <div class="well">
      <p>
      <strong>Mentor:</strong>
      <% if @group.teacher %>
        <%= link_to("#{@group.teacher.full_name} (#{@group.teacher.code})", teacher_path(@group.teacher)) %>
      <% else %>
        <span class="text-muted">geen</span>
      <% end %>
      </p>
      <p><%= @group.students.count %> leerlingen</p>
    </div>
  </div>
</div>
