<div class="row">
  <div class="col-xs-6">
    <h1>Teachers</h1>
    <p class="text-muted">Teachers: <%= @teachers.count %></p>
  </div>
  <div class="col-xs-6 text-right">
    <%= link_to 'New Teacher', new_teacher_path, class: 'btn btn-primary' %>
  </div>
</div>

<hr>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Groups</th>
      <th>Students</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.code %></td>
        <td><%= teacher.full_name %></td>
        <td><%= teacher.groups.count %></td>
        <td><%= teacher.students.count %></td>
        <td><%= link_to 'Show', teacher %></td>
        <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
        <td><%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
