<div class="row">
  <div class="col-xs-6">
    <strong>Klas</strong>
    <div class="pull-right">
      <select onchange="changeGroup(event)">
        <option>Kies een klas...</option>
        <optgroup label="Klassen">
          <% @groups.where(type: nil).order(code: :asc).each do |group| %>
            <option value="<%= group.id %>" <%= 'selected' if group.id == params[:group_id].to_i %>>
              <%= group.code %>
            </option>
          <% end %>
        </optgroup>
        <optgroup label="Clusters">
          <% @groups.where.not(type: nil).order(code: :asc).each do |group| %>
            <option value="<%= group.id %>" <%= 'selected' if group.id == params[:group_id].to_i %>>
              <%= group.code %>
            </option>
          <% end %>
        </optgroup>
      </select>
    </div>
    <hr>

    <% if @students %>
      <%= render "students" %>
    <% else %>
      Welkom
    <% end %>
  </div>
  <div class="col-xs-6">
    <strong>Computers</strong>
    <hr>
    <div class="row small-gutter">
      <% (1..10).each do %>
        <div class="col-xs-3 computer">
          <a href="#" class="thumbnail">
            <img data-src="holder.js/100%x110" alt="...">
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
