<!DOCTYPE html>
<html>
<head>
  <title>Medreg</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <a class="navbar-brand" href="/">MedReg</a>
    <ul class="nav navbar-nav">
      <li class="<%= 'active' if params[:controller] == 'application' %>">
        <%= link_to 'Overview', :root %>
      </li>
      <li class="<%= 'active' if params[:controller] == 'groups' %>">
        <%= link_to 'Groups', :groups %>
      </li>
      <li class="<%= 'active' if params[:controller] == 'teachers' %>">
        <%= link_to 'Teachers', :teachers %>
      </li>
      <li class="<%= 'active' if params[:controller] == 'students' %>">
        <%= link_to 'Students', :students %>
      </li>
    </ul>
    <p class="navbar-text navbar-right">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
    </p>
  </div>
</nav>

<div class="container">
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>

  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
